<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean class="com.cov.beans.Student" id="stud">
		<property name="id" value="101" />

		<property name="name" value="pratej" />

	</bean>
	<bean class="com.cov.beans.Triangle" id="tri">
		<property name="PointA" ref="pa"></property>
		<property name="PointB" ref="pb"/>
		
		
			
		<property name="pointC" ref="pc"></property>
	</bean>
	<bean class="com.cov.beans.Point" id="pa">
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>


	</bean>
	<bean class="com.cov.beans.Point" id="pb">
		<property name="x" value="0"></property>
		<property name="y" value="10"></property>


	</bean>
	<bean class="com.cov.beans.Point" id="pc">
		<property name="x" value="5"></property>
		<property name="y" value="5"></property>
	</bean>
	

</beans>